/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.cards {
  width: 100%;
  display: grid;
  padding: 0 50px 0 50px;
  overflow-x: scroll;
  grid-template-columns: repeat(20, 86px);
  gap: 20px;
  padding-bottom: 20px;
}

.cards .indivcard:nth-child(1) {
  grid-column-start: 1;
  z-index: 10;
}

.cards .indivcard:nth-child(2) {
  grid-column-start: 5;
  z-index: 9;
}

.cards .indivcard:nth-child(3) {
  grid-column-start: 9;
  z-index: 8;
}

.cards .indivcard:nth-child(4) {
  grid-column-start: 13;
  z-index: 7;
}

.cards .indivcard:nth-child(5) {
  grid-column-start: 17;
  z-index: 6;
}
