.animatedBorder {
  width: 200px;
  height: 200px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animatedBorder::before {
  content: "";
  background-image: conic-gradient(rgb(22, 78, 191) 40deg,  #ff0052 120deg , transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 30s linear infinite;
}
.animatedBorder::after {
  content: "Animation";
  width: 190px;
  height: 190px;
  background: #101010;
  position: absolute;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0052;
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #f803038c;
}
@keyframes rotate {
  0% {
      transform: rotate(-360deg);
}
100% {
      transform: rotate(0deg);
  }
}
